<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <form id="form">
    Please enter your name and pick the Sectors you are currently involved in.
    <br />
    <br />
    <label for="name">Name:</label>
    <input id="name" type="text" required/>
    <br />
    <br />
    <label for="sectors">Sectors:</label>
    <select id="sectors" multiple="" size="5">
    </select>
    <br />
    <br />
    <input id="terms" type="checkbox" />
    Agree to terms
    <br />
    <br />
    <input id="save" type="submit" value="Submit" />
  </form>
  <script type="module" src="./index.js" ></script>
</body>
</html>